.slider1{
  background-size: 100% 80vh !important;
  height: 80vh !important;
  width: 100% !important;
}
.main44{
  cursor: pointer !important;
  height: 80vh;
  border:2px solid white;
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: flex;
  flex-direction: column;
  padding-top: 5rem !important;
  align-items: center;
  text-align: center;
  gap: 2rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6) !important;
      .img33{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
      }
}}

.title33{
    color: white !important;
    font-weight: bold !important;
    font-size: 28px;
}
.img33{
    width: 70px ;
    height:70px ;
}


















// .slider1{
//     background-size: cover!important;
// }
// .main4{
//   cursor: pointer;
//     height: 85vh !important; 
//     margin: 0 2px ;
//     background-color: rgba(0, 0, 0, 0.3) !important;
//     &:hover {
//       background-color: rgba(0, 0, 0, 0.6) !important;
//       .img33{
//         transform: scale(1.2);
//         transition: transform 0.3s ease-in-out;
//       }
//     }
//     display: flex;
//     flex-direction: column;
//     padding-top: 5rem;
//     align-items: center;
//     text-align: center;
//     gap: 2rem;
// }
// .title33{
//     color: white !important;
//     font-weight: bold !important;
//     font-size: 28px;
// }
// .img33{
//     width: 70px ;
//     height:70px ;
// }


// @media screen and (min-width: 100px) and (max-width: 767px) {
//     .slick-prev:before{
//       display: none !important;
//     }
//     .slick-next:before{
//      display: none !important;
//     }
//     .slick-dots li button:before{
//         font-size: 14px !important;
//         color:  rgb(243, 196, 54) !important;
//    }
//    .main4{
//     margin: 0  0!important;
//    }
//   }
  
//   @media screen and (min-width: 768px) and (max-width: 991px) {
//     .slick-prev:before{
//         display: none !important;
//       }
//       .slick-next:before{
//        display: none !important;
//       }
//       .slick-dots li button:before{
//         font-size: 14px !important;
//         color:  rgb(243, 196, 54) !important;
//    }
//    .main4{
//     margin: 0  0!important;
//    }
    
//   }
  
  
  